-
	const catalogMenu = [
		{item: 'Браслеты'},
		{item: 'Серьги'},
		{item: 'Чокеры'},
		{item: 'Подвески'},
		{item: 'Кулоны'},
		{item: 'Колье'},
		{item: 'Кольца'},
		{item: 'Перстни'},
		{item: 'Брелоки'},
		{item: 'Булавки'},
		{item: 'Четки'},
		{item: 'Подвески в авто/дом'},
		{item: 'Шары из камня'},
		{item: 'Свечи'},
		{item: 'Коллекции'},
		{item: 'Акции'},
	]
	const pageMenu = [
		{item: 'Клиентам', subMenu: ['Доставка','Оплата','Гарантия на товар','Возврат товара','Услуги по ремонту','Библия камней','Курсы','Сертификат','Вопрос-ответ','Реквизиты и документы']},
		{item: 'О Keklik', subMenu: ['Создание браслеты-талисмана','О Светлане Шахрай','Мастерская']},
		{item: 'Блог'},
		{item: 'Отзывы'},
		{item: 'Контакты'}
	]

.header-catalog__mobile
	.mobile-menu 

		.mobile-menu__head 
			button.mobile-menu__close.js-closeMobileMenu
				<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M0.757812 11.2433L6.00081 6.00032L11.2438 11.2433M11.2438 0.757324L5.99981 6.00032L0.757812 0.757324" stroke="black" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
				</svg>
			.mobile-search
				input.mobile-search__input(type="text" placeholder="Найти")
				.mobile-search__catalog
					span.mobile-search__catalogname.text Каталог 
					<svg width="8" height="5" viewBox="0 0 8 5" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M0 0L4 5L8 0L0 0Z" fill="#222222"/>
					</svg>
				button.mobile-search__btn 
					<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M15 15L19 19M1 9C1 11.1217 1.84285 13.1566 3.34315 14.6569C4.84344 16.1571 6.87827 17 9 17C11.1217 17 13.1566 16.1571 14.6569 14.6569C16.1571 13.1566 17 11.1217 17 9C17 6.87827 16.1571 4.84344 14.6569 3.34315C13.1566 1.84285 11.1217 1 9 1C6.87827 1 4.84344 1.84285 3.34315 3.34315C1.84285 4.84344 1 6.87827 1 9Z" stroke="#222222" stroke-linecap="round" stroke-linejoin="round"/>
					</svg>
		.mobile-connect 
			span.mobile-connect__text.text Связаться с нами
			.mobile-connect__socials 
				a.mobile-connect__link(href="#")
					<svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M14.1197 15.1793L16.5463 14.7056L18.833 15.5841V17.7109C18.833 18.4191 18.224 18.9593 17.538 18.8076C15.7612 18.4179 12.533 17.4379 10.2907 15.1793C8.15568 13.0291 7.42651 10.0343 7.17801 8.38109C7.07884 7.71959 7.60268 7.16659 8.26651 7.16659H10.4762L11.3337 9.46375L10.8798 11.9149M24.6663 12.9999C24.6663 19.4434 19.4432 24.6666 12.9997 24.6666C10.9516 24.6694 8.93925 24.1309 7.16634 23.1056L1.33301 24.0833L2.30368 17.6666C1.66241 16.1944 1.33196 14.6057 1.33301 12.9999C1.33301 6.55642 6.55618 1.33325 12.9997 1.33325C19.4432 1.33325 24.6663 6.55642 24.6663 12.9999Z" stroke="#222222" stroke-linecap="round" stroke-linejoin="round"/>
					</svg>
				a.mobile-connect__link(href="#")
					<svg width="28" height="24" viewBox="0 0 28 24" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M26.8584 3.3348L22.9623 21.6955C22.6751 22.9974 21.8997 23.3134 20.8179 22.7007L14.8828 18.3259L12.0205 21.0829C11.7046 21.3988 11.4365 21.6668 10.8239 21.6668L11.2451 15.6263L22.2443 5.68972C22.7229 5.26851 22.139 5.02919 21.5072 5.4504L7.91373 14.0085L2.05514 12.1801C0.781953 11.7781 0.753234 10.9069 2.32318 10.2943L25.2119 1.46809C26.2745 1.08517 27.203 1.72656 26.8584 3.3348Z" stroke="#222222"/>
					</svg>

		.mobile-catalog.js-clickParent
			a.mobile-catalog__name(href="#") Каталог
			button.mobile-catalog__btn.js-clickElem 
				<svg width="6" height="8" viewBox="0 0 6 8" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M0.5 8L5.5 4L0.5 4.76837e-07L0.5 8Z" fill="#222222"/>
				</svg>
			.mobile-catalog__menubox
				ul.mobile-catalog__menu 
					each item in ['Браслеты','Серьги','Чокеры','Подвески','Кулоны','Колье','Кольца','Перстни','Брелоки','Булавки','Четки','Подвески в авто/дом','Шары из камня','Свечи'] 
						li.mobile-catalog__item 
							a.mobile-catalog__link.text(href="#")= item 

		ul.mobile-mainmenu 
			each item in ['Коллекции','Акции','Сертификаты','Браслеты']
				li.mobile-mainmenu__item 
					a.mobile-mainmenu__link(href="#")= item 

		ul.mobile-categories 
			each item in ['Серьги','Чокеры','Подвески','Кулоны','Колье','Кольца','Перстни','Брелоки','Булавки','Четки','Подвески в авто/домой','Шары из камня','Свечи']
				li.mobile-categories__item 
					a.mobile-categories__link(href="#")= item 

		ul.mobile-pagemenu
			each item, i in pageMenu
				li.mobile-pagemenu__item.js-clickParent
					a.mobile-pagemenu__link(href="#")= item.item
					if(item.subMenu)
						button.mobile-pagemenu__btn.js-clickElem 
							<svg width="8" height="5" viewBox="0 0 8 5" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M0 0L4 5L8 0L0 0Z" fill="#222222"/>
							</svg>
						.mobile-pagesubmenubox
							ul.mobile-pagesubmenu 
								each elem in item.subMenu 
									li.mobile-pagesubmenu__item 
										a.mobile-pagesubmenu__link(href="#")= elem			
		.mobile-info 
			.mobile-info__links 
				a.mobile-info__link.text(href="#") Политика конфиденциальности
				a.mobile-info__link.text(href="#") Оферта
			.pay-icons.mobile-info__pays 
				<svg width="26" height="17" viewBox="0 0 26 17" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M13.0013 1.87681C13.9457 2.61852 14.7091 3.56521 15.2338 4.64531C15.7585 5.72542 16.0307 6.91068 16.03 8.11148C16.0302 9.31199 15.7576 10.4968 15.2327 11.5765C14.7078 12.6562 13.9444 13.6025 13.0002 14.3438C12.056 13.6022 11.2927 12.6557 10.768 11.5758C10.2433 10.4959 9.97096 9.31092 9.97151 8.11031C9.97078 6.90951 10.2431 5.72425 10.7677 4.64415C11.2924 3.56404 12.0558 2.61735 13.0002 1.87565M11.9852 1.19665C10.9854 2.05034 10.183 3.11104 9.63344 4.30536C9.08392 5.49969 8.80041 6.79913 8.80251 8.11381C8.80091 9.4279 9.08467 10.7267 9.63418 11.9204C10.1837 13.114 10.9858 14.1742 11.9852 15.0275C10.7781 15.7051 9.41475 16.055 8.03057 16.0423C6.64639 16.0297 5.28962 15.655 4.09512 14.9555C2.90063 14.2561 1.91001 13.2561 1.22174 12.0551C0.533474 10.8541 0.171525 9.49389 0.171875 8.10966C0.172226 6.72542 0.534863 5.36538 1.22374 4.16473C1.91262 2.96409 2.90374 1.96464 4.09859 1.26576C5.29344 0.566869 6.6504 0.192878 8.03458 0.180958C9.41877 0.169039 10.782 0.519607 11.9887 1.19781M14.021 15.0275C15.0201 14.1741 15.8221 13.1139 16.3714 11.9202C16.9207 10.7265 17.2042 9.42781 17.2025 8.11381C17.2042 6.79915 16.9202 5.49982 16.3703 4.30569C15.8203 3.11157 15.0176 2.05116 14.0175 1.19781C15.2242 0.519607 16.5874 0.169039 17.9716 0.180958C19.3558 0.192878 20.7127 0.566869 21.9076 1.26576C23.1024 1.96464 24.0936 2.96409 24.7824 4.16473C25.4713 5.36538 25.834 6.72542 25.8343 8.10966C25.8347 9.49389 25.4727 10.8541 24.7844 12.0551C24.0962 13.2561 23.1056 14.2561 21.9111 14.9555C20.7166 15.655 19.3598 16.0297 17.9756 16.0423C16.5914 16.055 15.2281 15.7051 14.021 15.0275Z" fill="#222222"/>
				</svg>
				<svg width="30" height="10" viewBox="0 0 30 10" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M19.5405 0.253906C17.4105 0.253906 15.5055 1.35791 15.5055 3.3979C15.5055 5.7379 18.882 5.8984 18.882 7.0729C18.882 7.5679 18.315 8.0119 17.3475 8.0119C16.5077 8.0064 15.6823 7.7936 14.9445 7.3924L14.505 9.4504C14.505 9.4504 15.69 9.9739 17.2605 9.9739C19.5885 9.9739 21.4215 8.8159 21.4215 6.7414C21.4215 4.2694 18.0315 4.1119 18.0315 3.0214C18.0315 2.6329 18.4965 2.2084 19.4625 2.2084C20.553 2.2084 21.4425 2.65841 21.4425 2.65841L21.8715 0.670906C21.8715 0.670906 20.904 0.253906 19.5405 0.253906ZM0.0509999 0.403905L0 0.703906C0 0.703906 0.8955 0.868906 1.704 1.19441C2.742 1.56941 2.817 1.7884 2.991 2.4664L4.899 9.8194H7.455L11.394 0.403905H8.844L6.312 6.8059L5.28 1.37891C5.1855 0.757906 4.7055 0.403905 4.1175 0.403905H0.0509999ZM12.42 0.403905L10.419 9.8194H12.852L14.8455 0.403905H12.42ZM25.986 0.403905C25.401 0.403905 25.089 0.718906 24.861 1.26641L21.297 9.8194H23.847L24.342 8.3944H27.4485L27.7485 9.8194H30L28.0365 0.403905H25.986ZM26.3175 2.9479L27.0735 6.4804H25.05L26.3175 2.9479Z" fill="#222222"/>
				</svg>
				<svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
					<g clip-path="url(#clip0_2729_3786)">
						<path d="M10 20.1138C4.47688 20.1138 0 15.6369 0 10.1138C0 4.59064 4.47688 0.11377 10 0.11377C15.5231 0.11377 20 4.59064 20 10.1138C20 15.6369 15.5231 20.1138 10 20.1138ZM14.1756 4.71877L7.30875 8.62439L4.03625 6.76377L3.69875 7.43439L7.30875 9.51252L14.7662 5.25502L14.1756 4.71877ZM12.6744 3.86377L7.30875 6.93127L4.93 5.57377L4.44125 6.16002L7.30875 7.78627L13.4669 4.26627L12.675 3.86377H12.6744ZM15.2894 5.80814L7.30875 10.3675L3.42875 8.15502L3.24312 8.89252L7.30875 11.2056L15.7275 6.39502L15.2894 5.80814ZM16.5037 7.97064L16.1325 7.03189L7.30875 12.0606L3.125 9.69689V10.1494C3.125 11.065 3.30813 11.9713 3.665 12.815C4.00384 13.6319 4.50281 14.3728 5.1325 14.9938C5.76201 15.6055 6.50004 16.0944 7.30875 16.4356C8.16375 16.8044 9.05813 16.9888 9.99188 16.9888C10.9144 16.9888 11.8085 16.8044 12.6744 16.4356C13.492 16.1017 14.2368 15.612 14.8675 14.9938C15.491 14.3676 15.989 13.6281 16.335 12.815L16.5037 12.3625C16.7512 11.6471 16.875 10.9096 16.875 10.15C16.875 9.3896 16.7512 8.66315 16.5037 7.97064Z" fill="#222222"/>
					</g>
					<defs>
						<clipPath id="clip0_2729_3786">
							<rect width="20" height="20" fill="white" transform="translate(0 0.11377)"/>
						</clipPath>
					</defs>
				</svg>
				<svg width="14" height="19" viewBox="0 0 14 19" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M0.75 17.447H13.25M3.875 9.11367H10.125M1.79167 14.322L5.03854 5.23242C5.85625 2.94076 6.26562 1.79492 7 1.79492C7.73437 1.79492 8.14375 2.94076 8.96146 5.23242L12.2083 14.322" stroke="#222222" stroke-width="2"/>
				</svg>
			.mobile-info__doc 
				span.text ИП Шахрай Светлана Михайловна 
				span.text ИНН 263500194811
				span.text ОГРНИП 305263515900181
			.mobile-info__develop Разработка сайта #[a(href="https://webelement.ru/" target="_blank") WEBELEMENT]